In [7]:
# !python3 -m pip install pandas
import random
import pandas as pd
import numpy as np
golden_cn = pd.read_csv('golden labels/golden_cn - cn_merged.csv')
# golden_en = pd.read_csv('golden labels/golden_en - en_merged.csv')
golden_cn = pd.read_csv('golden labels/cn_rel_merged.csv')
golden_en = pd.read_csv('golden labels/en_rel_merged.csv')

## Merge Relationship into Ambiance

In [2]:
# golden_cn.loc[golden_cn['Relationship'] == 1, 'Ambiance'] = 1
# golden_en.loc[golden_en['Relationship'] == 1, 'Ambiance'] = 1
# golden_cn.drop(columns=['Relationship'])
# golden_en.drop(columns=['Relationship'])
# golden_cn.to_csv('cn_rel_merged.csv',encoding='utf-8',index=False)
# golden_en.to_csv('en_rel_merged.csv',encoding='utf-8',index=False)

## Splitting Datasets into validation and testing set

In [8]:
duplicate_cn = golden_cn[golden_cn.duplicated(['Chinese_Name'], keep=False)]
print(duplicate_cn)

duplicate_en = golden_en[golden_en.duplicated(['English_Name'], keep=False)]
print(duplicate_en)

duplicate_cn.to_csv('cn_duplicates.csv',encoding='utf-8',index=False)
duplicate_en.to_csv('en_duplicates.csv',encoding='utf-8',index=False)

     Unnamed: 0  sample_id  national_id               English_Name  \
1             1     1724.0      13697.0           New China Buffet
3             3     3119.0       9756.0              Bamboo Garden
4             4     1223.0      29370.0                 China Cafe
5             5     1241.0      17588.0              House of Chen
7             7      337.0       5610.0       Sang Kee Peking Duck
..          ...        ...          ...                        ...
986         986     1736.0      20931.0  Peking Chinese Restaurant
992         992     2018.0      32128.0                 King's Wok
993         993     2450.0       8893.0                 Sky Dragon
994         994      509.0      11359.0          Annie's First Wok
997         997     1470.0      30298.0            Shanghai Bistro

    Chinese_Name  Personal_Name  Specialty  Positivity  Culture  Location  \
1              中              0          0           0        0         1
3             竹园              0          0           0        1         0
4            中国楼              0          0           0        0         1
5            陈家园              1          0           0        0         0
7           生记烧腊              1          1           0        0         0
..           ...            ...        ...         ...      ...       ...
986           北京              0          0           0        0         1
992           皇厨              0          0           1        0         0
993           天龙              0          0           0        1         0
994          第一家              0          0           1        0         0
997           上海              0          0           0        0         1

     Ambiance  Pun_Creative  Relationship
1           0             0             0
3           1             0             0
4           1             0             0
5           1             0             0
7           0             0             0
..        ...           ...           ...
986         0             0             0
992         1             0             0
993         0             0             0
994         0             0             0
997         0             0             0

[337 rows x 13 columns]
     Unnamed: 0  sample_id  national_id               English_Name  \
1             1     1724.0      13697.0           New China Buffet
3             3     3119.0       9756.0              Bamboo Garden
4             4     1223.0      29370.0                 China Cafe
6             6     1068.0      16174.0                  China Fun
8             8     3968.0       2544.0          Peking Restaurant
..          ...        ...          ...                        ...
980         980     1156.0      32478.0               Hunan Garden
982         982     3965.0        853.0                  China One
986         986     1736.0      20931.0  Peking Chinese Restaurant
992         992     2018.0      32128.0                 King's Wok
995         995     3397.0      28644.0               North Garden

    Chinese_Name  Personal_Name  Specialty  Positivity  Culture  Location  \
1              中              0          1           0        0         1
3             竹园              0          0           0        1         0
4            中国楼              0          0           0        0         1
6           黄石酒家              0          0           0        0         1
8             北京              0          0           0        0         1
..           ...            ...        ...         ...      ...       ...
980           湖南              0          0           0        0         1
982           锦辉              0          0           0        0         1
986           北京              0          0           0        0         1
992           皇厨              0          1           1        0         0
995           北园              0          0           0        0         1

     Ambiance  Pun_Creative  Romanized  Relationship
1           0             0          0             0
3           1             0          0             0
4           1             0          0             0
6           0             0          0             0
8           0             0          0             0
..        ...           ...        ...           ...
980         1             0          0             0
982         0             0          0             0
986         0             0          0             0
992         0             0          0             0
995         1             0          0             0

[244 rows x 14 columns]

In [ ]:
# step 1: split cn_duplicates and en_duplicates into three dataframes. One containing restaurants with only Chinese duplicates, one containing
# restaurants with only Eng duplicates, and one with both

# step 2: produce three more dataframes containing unique names derived from dataframes generated in step 1, sample them

# step 3: find sample duplicates in corresponding dataframes and add the sample and duplicates to validation/testing sets